# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

# include "config.h"

IDI_ICON1		ICON	DISCARDABLE			ICONPATH

VS_VERSION_INFO VERSIONINFO
	FILEVERSION PROJVERC
	PRODUCTVERSION PROJVERC
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904B0"
			BEGIN
				VALUE "CompanyName", "KD\0"
				VALUE "FileDescription", "KDWall Qt Application\0"
				VALUE "FileVersion", PROJVER
				VALUE "LegalCopyright", "Copyright (C) 2009-2010 by tsaikd@gmail.com\0"
				VALUE "ProductVersion", PROJVER
				VALUE "ProductName", PROJNAME
			END
		END
	END
/* End of Version info */
